<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" class="has-text-link is-size-2 p-2">The Tech Blog</a>
      </h1>
      <nav class="m-3 pt-3">
        <a href="/" class="mr-4">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Log Out</button>
        {{else}}
        <a href="/login" class="mr-4">Log In</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting! - Created by Keshia-Lee Martin
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>