<section>
  <h2 class="mt-5 has-text-link is-size-4">Create New Post</h2>

  <form class="new-post-form">
    <div class="column is-two-thirds">
      <label for="post-title" class="ml-4">Title</label>
      <input type="text" id="post-title" name="post-title" class="input ml-3 is-small"/>
    </div>
    <div class="column is-two-thirds">
      <label for="post-text" class="ml-4">Blog Text</label>
      <textarea name="comment-body" class="textarea ml-3  is-small"></textarea>
    </div>
    <button type="submit" class="button is-primary m-5 pl-3">Create</button>
  </form>
</section>