{{!--  signup form --}}
<h2 class="mt-5 has-text-link is-size-4">Sign Up</h2>

{{!-- email, username, password sign up inputs --}}
<form class="signup-form m-3 columns">
  <div class="field columns m-5">
    <div class="columns">
      <label for="username-signup" class="label">Username:</label>
      <input type="text" id="username-signup" class="input ml-4 is-small" />
    </div>
  </div>

  <div class="field columns m-5">
    <div class="columns">
      <label for="email-signup" class="label">Email:</label>
      <input type="text" id="email-signup" class="input ml-4 is-small" />
    </div>
  </div>

  <div class="field columns m-5">
    <div class="columns">
      <label for="password-signup" class="label">Password:</label>
      <input type="password" id="password-signup" class="input ml-4 is-small" />
    </div>
  </div>

  <div>
    <button type="submit" class="button is-primary m-2 ml-4">sign up</button>
  </div>
</form>

<a href="/login" class="login-signup">Been Here Before? Log In Here!</a>

<script src="/javascript/signup.js"></script>