* {
  box-sizing: border-box;
}

html {
  background-color: rgb(187, 216, 224);
}

header {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid darkblue;
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid darkblue;
  display: flex;
  justify-content: center;
  margin-top: 75%;
  padding: 1%;
  font-size: 95%;
}